<div role="group" class="c-card">
    <%= render "rpm" %>
    <%= render "speed" %>
    <%= render "gear" %>
</div>

<div role="group" class="c-card">
    <%= render "temp" %>
    <%= render "pressure" %>
</div>

<div role="group" class="c-card">
    <%#= render "wheel_speed", sub_id: 1 %>
    <%#= render "wheel_speed", sub_id: 2 %>
    <%#= render "wheel_speed", sub_id: 3 %>
    <%#= render "wheel_speed", sub_id: 4 %>
</div>